.tabs { 

	position:fixed;
	bottom:0;
	width:100%;

	a {
	    display: block;
	    float: left;
	    box-sizing: border-box;
	   	width: 33.3333333333%;
	    border-top: solid #ddd 1px;
	    border-left: solid #ddd 1px;
	    background:#fff;
	   	text-align: center;
	}

	a:first-child {
		border-left:0;
	}

	a > i {
		box-sizing:border-box;
		padding: 8px 0px 8px 0px;
	    border-bottom: solid #fff 4px;
	    width: 100%;
	    color:#666;
	}

	a.active > i {
	    border-bottom: solid #3E50B4 4px;
	    width: 100%;
	}
}